/*//////////*/
/*  GLOBAL  */
/*//////////*/

* {
  font-family: 'Montserrat', sans-serif;
}


h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-align: center;
}

p {
  font-weight: 300;
}

/*//////////*/
/*  HEADER  */
/*//////////*/

.main-title {
  /*font-size: ;*/
  margin: 5px auto 5px auto;
}

.subtitle {
  margin-top:5px;
  margin-bottom: 30px;
}

nav {
  text-align: center;
}

/*////////*/
/*  MAIN  */
/*////////*/

#portfolio {
  background-color: cyan;
  height: 100%;
  width: 100%;
}

#about {
  background-color: fuchsia;
  text-align: center;
}

#contact {
  background-color: yellow;
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}
