/*//////////*/
/*  GLOBAL  */
/*//////////*/

* {
  font-family: 'Montserrat', sans-serif;
  color: #344039;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-align: center;
}

p {
  font-weight: 300;
}

h2 {
  color: #69ca8e;
}


/*//////////*/
/*  HEADER  */
/*//////////*/

header {
  position:sticky;
  top: 0;
  background-color: rgba(256, 256, 256, 1);
  z-index: 100;

}

.main-title {
  font-size: 4rem;
  margin: 5px auto 5px auto;
  color: #69ca8e;
}

.subtitle {
  margin-top:5px;
  margin-bottom: 15px;
  color: #69ca8e;

}


/*//////////////*/
/*  DESKTOP NAV */
/*//////////////*/

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height:60px;
  padding-top:1px;
  padding-bottom: 3px;
  background-color: #9dbfaa;
}

.desktop-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  display:inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.desktop-nav a:hover {
  color: white;
}

.desktop-nav p {
  margin:22px 10px auto 10px;
  font-size: 1rem;
  font-weight: 100;
}

/*/////////////*/
/*  MOBILE NAV */
/*/////////////*/

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #9dbfaa;
}

.mobile-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  display:inline-block;
  margin:15px auto 10px auto;
}

.mobile-nav a:first-child {
  margin-top: 25px;
}

.mobile-nav a:last-child {
  margin-bottom: 25px;
}

.mobile-nav a:hover {
  color: white;
}
/*////////*/
/*  MAIN  */
/*////////*/

#portfolio h2 {
  width:auto;
}

.portfolio-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: rgba(157, 191, 170, 0.4);
  height: auto;
  margin: auto
}

.project-wrap {
  text-align: center;
  padding: 25px 25px;
}

.project-wrap button {
  border:1px solid #69CA8E;
  border-radius: 5px;
  background-color:#69CA8E;
  width: 80px;
  height: 40px;
  color: white;
}

.project-wrap button:last-child {
  margin-left: 20px;
}


.mockup-webapp {
  width: 300px;
  height: auto;
}

#portfolio p {
  width:50%;
  height: auto;
  margin-left: 25px;
}

#about {
  text-align: center;
}

#experience {
  text-align: center;
}

#contact {
  text-align: center;
}

.github-icon{
  height: 45px;
  margin: 10px 20px auto 20px;
}

#contact a {
  color: white;
}

footer {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 30px;
  background-color:#9dbfaa;
}

footer p {
  color: white;
}


/*/////////////////////*/
/*//// MEDIA QUERY ////*/
/*/////////////////////*/

@media screen and (min-width: 768px ) {
  .mockup-webapp {
    width: 400px;
    height: auto;
  }

  .portfolio-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;

    height: auto;
    padding:25px 50px;
    margin: auto
  }

}

@media screen and (min-width: 1024px ) {


  .mockup-webapp {
    width: 500px;
    height: auto;
  }

  .project-wrap {
    padding: 50px 50px;
  }
}
