/*//////////*/
/*  GLOBAL  */
/*//////////*/

* {
  font-family: 'Montserrat', sans-serif;
  color: #344039;
}


h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-align: center;
}

p {
  font-weight: 300;
}

.primary-color {
  color: #344039;
}

.secondary-color {
  color: #698071;
}

/*//////////*/
/*  HEADER  */
/*//////////*/

.main-title {
  font-size: 4rem;
  margin: 5px auto 5px auto;
}

.subtitle {
  margin-top:5px;
  margin-bottom: 15px;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height:60px;
  padding-top:1px;
  padding-bottom: 3px;
  background-color: #9dbfaa;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  display:inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

nav a:hover {
  color: white;
}

nav p {
  margin:15px 5px auto 5px;
  font-size: 2rem;
  font-weight: 100;
}


/*////////*/
/*  MAIN  */
/*////////*/

#portfolio {
  height: 100%;
  width: 100%;
}

#portfolio h2 {
  width:auto;
}

#about {
  text-align: center;
}

#contact {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}
